body {
    background-color:#777;
    margin:0px;
    padding:0px;
}

line {
    stroke:white;
}

.camera {
    opacity: 0.5;
    cursor:pointer;
}

.camera line {
    stroke:black;
}

rect.surface {
    fill: transparent;
    stroke: pink;
    stroke-opacity:0.5;
}

rect.surfaceBackground {
    fill: black;
    stroke: black;
}


rect.lightStripe {
    fill: white;
}

svg.view {
    padding-top:10px;
}
